{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Ro'yhatdan o'tish {% endblock title %}

{% block content %}
<h2>Ro'yhatdan o'tish</h2>
<form method="post">{% csrf_token %}
    {{ form|crispy }}
     <button type="submit" class="btn btn-success">Yuborish</button>
</form>
{% endblock content %}
