*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-repeat: no-repeat;
}
.section-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right > div {
    padding: 0 20px;
}
.header-item__login_page {
    padding: 20px 50px;
}


.section-login {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(148, 101, 101); */
    height: 82vh;
    
}

.container {
    background-color: #fff;
    border-radius: 5px;
}
.forma {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px;
}

.login-social {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #E15B7C;
    color: white;
    top: -60px;
}
#icon   {
    font-size: 1.5rem;
    color: #fff;
    width: 20px;
    height: 20px;
    margin: 12px;
}
h2 {
    padding: 0;
    margin: 0;
    position: relative;
    top: -42px;
}

.login-social h3, p {
    text-align: left;
}
p {
    padding-top: 10px;
}

.input-box {
    text-align: left;
    padding: 0 30px;
}
input {
    margin-bottom: 30px;
    height: 25px;
    border: none;
    border-bottom: 1px solid rgb(109, 108, 108);
    width: 100%;
    
}
input:focus {
    outline: none;
    /* border: none; */
    border-bottom: 1px solid rgb(233, 61, 61);
}

button {
    font-size: 1.25rem;
    box-shadow: 5px;
    border-radius: 5px;
    border: none;
    margin: 10px 90px;
    height: 40px;
    background-color: #E15B7C;
    color: white;
}
.button_bottom {
    padding: 10px 0;
}

.social-items {
    display: flex;
    align-items: center;
    padding: 10px 80px 0;
}
.social-items a {
    padding: 5px 10px;
}
.input-box label { 
    text-align: left;
}


/* section-footer */

.section-footer {
    display: flex;
    text-align: center;
    background-color: #E15B7C;
    justify-content: space-between;
    box-sizing: border-box;
    height: 10vh;
}

.footer-left {
    display: flex;
    padding: 15px 20px;

}

.footer-left > div {
    padding: 10px 25px;
}

.footer-item__copy {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#avatar {
color: blue;
}
a {
    color: white;

    text-decoration: none;
}
.button_bottom {
    color: rgb(121, 121, 118);
}
