{% extends 'base.html' %}

{% block title %}Postlar{% endblock title %}

{% block content %}
    {% for article in object_list %}
        <div style="display:flex; justify-content: center;">
        <div class="card" style="width: 50rem; display:flex; justify-content: center;">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}"><h2>{{ article.title }}</h2></a></span>
            </div>
            {% if article.photo %}
                <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
            {%  endif %}
            <div class="card-body">
                {{ article.summary }}...<a href="{% url 'article_detail' article.pk %}">batafsil</a>
            </div>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">muallif {{ article.author | title }} &middot; {{ article.date }}</span>
            </div>
        <br />
    {% endfor %}
    </div>
        </div>
{% endblock content %}