{% load static %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} My Blog {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F4B41A;">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNJrxGLbyk64L2sWU1ep6lgzUrJcly1w9HPw&usqp=CAU"
             width="40" height="40" style="border-radius:10px" class="d-inline-block align-top" alt="">
        My News
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ user.username | title }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right"
                     aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'article_new' %}">Yangi post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'password_change'%}">Kalit so'zni almashtirish</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Chiqib ketish</a>
                </div>
            </li>
        </ul>
        {% else %}
        <form class="form-inline ml-auto" style="color:green">
            <a href="{% url 'login' %}" class="btn btn-outline-light">Kirish</a>
            <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Ro'yxatdan o'tish</a>
        </form>
        {% endif %}
    </div>
</nav>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>