{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    <br/>
    <div class="container">
        <div class="jumbotron" >
        <h1 class="display-4">Assalomu alaykum!</h1>
        <p class="lead"> "My News" yangiliklar web sahifasiga xush kelibsiz!</p>
        <hr class="my-4">
        <p>Bu yerda siz dunyoda sodir bo'layotgan eng so'nggi yangiliklardan xabardor bo'lib turasiz.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Yangiliklarni ko'rish</a>
        </p>
    </div>
    </div>
{% endblock content %}